[project]
	description = This repo is for demonstration purposes only. Comments and issues may or may not be responded to.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/WenhuaHu
[access "refs/for/refs/*"]
	read = group user/WenhuaHu
	push = group user/WenhuaHu
	label-Code-Review = -2..+2 group user/WenhuaHu
	label-Verified = -1..+1 group user/WenhuaHu
	rebase = group user/WenhuaHu
	removeReviewer = group user/WenhuaHu
	submit = group user/WenhuaHu
[access "refs/heads/*"]
	read = group user/WenhuaHu
	create = group user/WenhuaHu
	push = +force group user/WenhuaHu
	pushMerge = group user/WenhuaHu
[access "refs/tags/*"]
	push = +force group user/WenhuaHu
	pushTag = group user/WenhuaHu
	pushSignedTag = group user/WenhuaHu
